[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=comfyui
X-Python-2-Compatible=false
X-Krita-Manual=myplugin.html
Name=ComfyUI
Comment=THE ComfyUI integration in Krita
